/* Define the Klavika font-face for different weights and styles */
@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


body {
    background: transparent;
    margin: 0;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    padding-top: 2px;
    margin: 0px;
    background-color: transparent;
    max-width: 110%;
    max-height: 110%;
    overflow: hidden;
}

#bocky-icon {
    border-radius: 100%;
    border: 1px solid #A92629;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-left: 16px; /* padding suggestion from figma design - TODO "add" responsiveness*/
    padding-right: 16px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease, opacity 0.6s ease;
    transform-origin: bottom right;
}

#bocky-icon.close {
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

#bocky-icon img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    size: auto;
}

#chatbot-conversa {
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    max-height: 450px;
    box-sizing: border-box;
    padding: calc(2vh + 1rem);
    box-shadow: 0 2px 4px #00000024;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom right;

}

#chatbot-conversa.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot-conversa-header {
    top: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    pointer-events: auto;
}

.chatbot-conversa-header.hidden {
    display: none;
    pointer-events: none;
}

.chatbot-conversa-header a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}
.chatbot-conversa-header a p{
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

.header-link-icon img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 43px;
    margin: 0px;
    padding: 0px;   
}

.chatbot-conversa-close {
    border:none; 
    background: none;
    cursor: pointer;
}

.change-engine {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition: transform 0.3s ease, opacity 0.6s ease;
    transform-origin: bottom right;
}

.change-engine p {
    margin: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #A92629;
    background-color: transparent;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.change-engine-img{
    padding: 0px;
    align-self: flex-start;
}

.historico-conversa {
    max-height: 270px;
    height: auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-wrap: break-word;
    gap: 16px;
}

.mensagem-conversa{
    max-width: 80%;
}

.mensagem-conversa .message-balloon{
    border-radius: 4px;
    padding: 6px;
}   

.message-balloon p {
    overflow-wrap: break-word;
    padding: 16px;
    margin: 0px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300; /* on figma it says 400 but here it looks thicker - check design site to see if weights assignment match*/
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mensagem-conversa-bocky{
    align-self: flex-start;
}

.mensagem-conversa-bocky .message-balloon {
    background-color: #E9ECEF;
}

.mensagem-conversa-bocky .message-balloon p{
    color: black;
}

.mensagem-conversa-bocky .icon {
    float: right;
    width: 25px;
}

.mensagem-conversa-user {
    align-self: flex-end;
}

.mensagem-conversa-user .message-balloon{
    background-color: #A92629;
}

.mensagem-conversa-user .message-balloon p {
    color: #FFFFFF;
}

.message-timestamp{
    padding: 3px 0px 3px 6px;
    margin: 0px;
    color: #4F575E;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bocky-widget-prompt-section {
    bottom: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#bocky-widget-prompt-section button{
    flex: 0 0 auto;
    background: none;
    border: none;
    height: 32px;
    width: auto;
    background-color: transparent;
    padding: 0px;

}

#bocky-widget-prompt-section button img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    size: auto;
    margin: 0px;
}

.botao-clicado{
    transform: translate(1px, 1px);
}

#bocky-widget-prompt-section textarea{
    flex: 1;
    width: 100%;
    padding: 16px;
    margin: 8px 0px 8px 0px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 2px #00000024;
    bottom: 10px;
    outline: none;
    overflow-y: auto;
    resize: none;
    scrollbar-width: thin;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#aviso-podem-ocorrer-erros{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #6D6F71;
    margin: 0px;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}