/* Define the Klavika font-face for different weights and styles */
@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url('fonts/Klavika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


body {
    background: transparent;
    margin: 0;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    padding-top: 2px;
    margin: 0px;
    background-color: transparent;
    max-width: 110%;
    max-height: 110%;
    overflow: hidden;
}

#bocky-icon {
    border-radius: 100%;
    border: 1px solid #A92629;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-left: 16px; /* padding suggestion from figma design - TODO "add" responsiveness*/
    padding-right: 16px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease, opacity 0.6s ease;
    transform-origin: bottom right;
}

#bocky-icon.close {
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

#bocky-icon img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    size: auto;
}

#bocky-conversa {
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    max-height: 450px;
    box-sizing: border-box;
    padding: calc(2vh + 1rem);
    box-shadow: 0 2px 4px #00000024;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom right;

}

#bocky-conversa.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

#bocky-conversa-header {
    top: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#bocky-conversa-header a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}
#bocky-conversa-header a p{
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

#bocky-link-icon img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 43px;
    margin: 0px;
    padding: 0px;   
}

#bocky-conversa-close {
    border:none; 
    background: none;
    cursor: pointer;
}

#choose-bocky-engine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    background: transparent;
}

#choose-bocky-engine .selected{
    background-color: #A79869;
}

.bocky-engine {
    border-radius: 13%;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
    overflow: hidden;
    gap: 2px;
    transition: transform 0.3s ease, opacity 0.6s ease;
    transform-origin: bottom right;
    border: #A79869 solid 1px;
}

.bocky-engine p {
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
    font-size: 9px;
    color: black;
    background-color: transparent;
}

#historico-conversa {
    max-height: 270px;
    height: auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.mensagem-conversa{
    border-radius: 4px;
    padding: 6px;
    margin: 10px;
    max-width: 60%;
    width: 96%;
    height: auto;
    overflow-wrap: break-word;
}
.mensagem-conversa p, .mensagem-conversa {
    overflow-wrap: break-word;
    padding: 16px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.mensagem-conversa-bocky{
    background-color: #E9ECEF;
    align-self: flex-start;
}
.mensagem-conversa-bocky p{
    color: black;
}

.mensagem-conversa-bocky .icon {
    float: right;
    width: 25px;
}

.mensagem-conversa-user{
    background-color: #A92629;
    align-self: flex-end;
    color: #FFFFFF;
}

#bocky-widget-prompt-section {
    bottom: 4px;
    display: flex;
    align-items: center;
        gap: 0.5rem;
    width: 100%; /* TODO CHANGE TO 100% AND USE PADDINGS */
}

#bocky-widget-prompt-section button{
    flex: 0 0 auto;
    background: none;
    border: none;
    height: 32px;
    width: auto;
    background-color: transparent;
    padding: 0px;

}

#bocky-widget-prompt-section button img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    size: auto;
    margin: 0px;
}

.botao-clicado{
    transform: translate(1px, 1px);
}

#bocky-widget-prompt-section textarea{
    flex: 1;
    width: 100%;
    padding: 5px;
    margin: 8px 4px 8px 4px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 2px #00000024;
    bottom: 10px;
    outline: none;
    overflow-y: auto;
    resize: none;
    scrollbar-width: thin;
    font-family: 'Klavika', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#aviso-podem-ocorrer-erros{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #6D6F71;
    margin: 0px;
}